@import "./components/Slider/style.scss";

body {
  padding: 0%;
  margin: 0%;
  background: #404f54;

  #root {
    height: 100vh;
    width: 100vw;
    .app {
      height: 100vh;
      width: 100vw;
    }
    img {
      animation-duration: 1s;
      animation-name: spin;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
